# Ignore local git directory
.git/
.gitignore

# Ignore local Python virtual environments and sensitive credentials
venv/
.env

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore local unit tests and test configs
test_main.py
